/** The CSS rules for the styles of the Bookmarking module */

/** The main CSS styles for the GWT widgets */

/** The CSS rules for the GWT label widget
    Several label styles inherit from this style */
.gwt-Label,
.titleLabel,
.nameLabel,
.listFilterLabel {
    color: black;
    font-family: sans-serif;
    font-size: 17px;
    letter-spacing: 0px;
    padding-bottom: 4px;
}

/** The CSS rules for the GWT anchor widget */
.gwt-Anchor {
    font-family: sans-serif;
    font-size: 17px;
    padding-bottom: 4px;
}

/** The CSS rules for the GWT list box widget */
.gwt-ListBox {
    font-family: sans-serif;
    font-size: 15px;
}

/** The CSS rules for the GWT text box widget */
.gwt-TextBox {
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 15px;
}

/** The CSS rules for the GWT text area widget */
.gwt-TextArea {
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: none;
}

/** The CSS rules for the GWT button widget
    Several button styles inherit from this style */
.gwt-Button,
.confirmButton,
.cancelButton,
.closeButton {
    font-family: sans-serif;
    font-size: 16px;
    padding: 1px;
}

/** The CSS styles for the GWT label widgets */

/** The CSS rules for the title label (Java: titleLabel)
    Inherits gwt-Label CSS style */
.titleLabel {
    font-weight: bold;
    font-size: 32px;
    margin-left: 25px;
    margin-top: 25px;
    padding-bottom: 10px;
}

/** The CSS rules for the title label (Java: nameLabel)
    Inherits gwt-Label CSS style */
.nameLabel {
    font-weight: bold;
    font-size: 22px;
}

/** The CSS rules for the title label (Java: listFilterLabel)
    Inherits gwt-Label CSS style */
.listFilterLabel {
    margin-right: 7px;
    padding-top: 5px;
    padding-bottom: 0px;
}

/** The CSS styles for the GWT button widgets */

/** The CSS rules for the button Edit (Java: editButton)
    Inherits gwt-Button CSS style */
.editButton {
    background-image: url("resources/images/edit.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 36px;
    width: 36px;
    margin-right: 15px;
    float: left;
    padding: 0px;
}

/** The CSS rules for the hover selector effect of the Edit button
    Change the style of the button when the mouse is moved over it */
.editButton:hover {
    background-image: url("resources/images/edit_hover.png");
}

/** The CSS rules for the button Delete (Java: removeButton)
    Inherits gwt-Button CSS style */
.removeButton {
    background-image: url("resources/images/delete.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 36px;
    width: 36px;
    float: left;
    padding: 0px;
}

/** The CSS rules for the hover selector effect of the Delete button
    Change the style of the button when the mouse is moved over it */
.removeButton:hover {
    background-image: url("resources/images/delete_hover.png");
}

/** The CSS rules for the button Close (Java: closeButton)
    Inherits gwt-Button CSS style */
.closeButton {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

/** The CSS rules for the button Confirm (Java: confirmButton)
    Inherits gwt-Button CSS style */
.confirmButton {
    margin-right: 5px;
    margin-left: 30px;
}

/** The CSS rules for the button Cancel (Java: cancelButton)
    Inherits gwt-Button CSS style */
.cancelButton {
    margin-left: 5px;
}

/** The CSS styles for the GWT panel widgets */

/** The CSS rules for the filtering panel (Java: bmFilterPanel) */
.bmFilterPanel {
    margin-bottom: 30px;
}

/** The CSS rules for the list panel (Java: bmListPanel) */
.bmListPanel {
    position: absolute;
    right: 40px;
}

/** The CSS rules for the container panel of the bookmarks editor,
    list creator, and list manager (Java: containerPanel) */
.widgetPanel {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

/** The CSS rules of the container panel for the bookmarks
    of the bookmarks table (Java: containerPanel) */
.bookmarksPanel {
    width: 95%;
    padding-top: 25px;
    padding-bottom: 20px;
}

/** The CSS rules of the container panel for the buttons
    of the bookmarks table (Java: containerPanel) */
.buttonsPanel {
    float: left;
    clear: none;
}

/** The CSS styles for the GWT table widgets */

/** The CSS rules for the bookmarks table (Java: bookmarksTable) */
.bookmarksTable {
    width: 97%;
    table-layout: fixed;
    float: left;
    clear: none;
    margin-left: 40px;
    word-wrap: break-word;
}

/** The CSS rules for the cells of the bookmarks column of the bookmarks table */
.bookmarksCell {
    width: 85%;
}

/** The CSS rules for the header cells of the bookmarks table */
.bookmarksTable th {
    border-bottom: 1px solid #e0e0e0;
    border-collapse: collapse;
}

/** The CSS rules for the data cells of the bookmarks table */
.bookmarksTable td {
    border-bottom: 1px solid #e0e0e0;
    border-collapse: collapse;
}

/** The CSS rules for the lists table (Java: listsTable) */
.listsTable {
    font-family: sans-serif;
    font-size: 17px;
    padding-bottom: 10px;
}

/** The CSS rules for the data cells of the lists table */
.listsTable td {
    padding: 10px;
}

/** The CSS rules for the GWT Dialog Box widget taken from
    the default theme com.google.gwt.user.theme.clean.Clean */
.gwt-DialogBox .Caption {
    background: #F1F1F1;
    padding: 4px 8px 4px 4px;
    cursor: default;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #bbbbbb;
    border-top: 1px solid #D2D2D2;
}

.gwt-DialogBox .dialogContent {
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 3px;
    background: white;
}

.gwt-DialogBox .dialogBottomCenter {
    background: url(resources/images/hborder.png) repeat-x 0px -2945px;
}

.gwt-DialogBox .dialogMiddleLeft {
    background: url(resources/images/vborder.png) repeat-y -31px 0px;
}

.gwt-DialogBox .dialogMiddleRight {
    background: url(resources/images/vborder.png) repeat-y -32px 0px;
}

.gwt-DialogBox .dialogTopLeftInner {
    width: 10px;
    height: 8px;
    zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
    width: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
    width: 10px;
    height: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
    width: 12px;
    height: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
    background: url(resources/images/circles.png) no-repeat -20px 0px;
}

.gwt-DialogBox .dialogTopRight {
    background: url(resources/images/circles.png) no-repeat -28px 0px;
}

.gwt-DialogBox .dialogBottomLeft {
    background: url(resources/images/circles.png) no-repeat 0px -36px;
}

.gwt-DialogBox .dialogBottomRight {
    background: url(resources/images/circles.png) no-repeat -8px -36px;
}

html>body .gwt-DialogBox {
}

/** The CSS rules for the glass effect in GWT widgets taken from
    the default theme com.google.gwt.user.theme.clean.Clean */
.gwt-PopupPanelGlass {
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}